.nav {
    @include shadow(0);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 1.2rem 0;
    background-color: $color-nav;
    align-self: center;
    grid-column: 1 / -1;
    margin-bottom: .5rem;
    &__logo {
        font-size: 1.8rem;
        font-weight: 800;
        color: $color-logo;
        padding: 1rem 1.5rem;
        display: inline-block;
    }

    &__button {
        @include button();
        justify-self: end;        
        margin-right: 1.2rem;
    }
}