$color-logo: rgb(43, 47, 51);
$color-nav: #fff;

$color-card: #fff;

$color-btn-primary-back: #009688;
$color-btn-primary-txt: #eee;

$priority-urgent: #EB5757;

$color-delete: #EB5757;
$color-done: rgb(41, 194, 113);
$color-edit: rgb(16, 201, 226);