*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}
body {
    background-image: linear-gradient(to bottom right, #ffe259, #ffa751);
    background-repeat: no-repeat;
    /*basic setup remove after app completion*/
    height: 100vh;
}
.grid {
    
}